In [5]:
import random as ra
from pathlib import Path
import pandas as pd

In [4]:
map_path = Path("C:\Google Drive\AIC Experiment Data\Shodi\Manhattan")
query_count = 1000

In [10]:
nodes = pd.read_csv(map_path / "nodes.csv", sep="\t")
out_path = map_path / "queries.txt"
nodes

        id       db_id          x          y
0        0    42421728 -73.960043  40.798049
1        1    42421731 -73.961474  40.798645
2        2    42421737 -73.962886  40.799255
3        3    42421741 -73.965705  40.800431
4        4    42421745 -73.967994  40.801401
...    ...         ...        ...        ...
6377  6377  6516908811 -73.934972  40.809298
6378  6378  6518638079 -74.004066  40.738196
6379  6379  6552385855 -74.013365  40.710424
6380  6380  6552385860 -74.013531  40.710615
6381  6381  6575692624 -74.003735  40.758408

[6382 rows x 4 columns]

In [8]:
def generate_unique_queries(nodes_count, query_count):
    selected_pairs_set = set()
    # Max pairs if from != to. If nodes_count is 0 or 1, this will be 0.
    max_possible_pairs = nodes_count * (nodes_count - 1) if nodes_count > 1 else 0

    if query_count > max_possible_pairs:
        print(f"Warning: query_count ({query_count}) is greater than the maximum possible unique pairs ({max_possible_pairs}). Returning all possible pairs.")
        query_count = max_possible_pairs

    if nodes_count < 2 and query_count > 0:
        print(f"Warning: Cannot generate pairs for nodes_count < 2. Returning empty DataFrame.")
        return pd.DataFrame(columns=['from', 'to'])

    while len(selected_pairs_set) < query_count:
        from_node = ra.randint(0, nodes_count - 1)
        to_node = ra.randint(0, nodes_count - 1)
        if from_node != to_node:
            selected_pairs_set.add((from_node, to_node))

    # Convert set to list and then to DataFrame
    queries_df = pd.DataFrame(list(selected_pairs_set), columns=['from', 'to'])
    return queries_df

num_nodes = len(nodes)
queries = generate_unique_queries(num_nodes, query_count)

In [12]:
# Save to file according to the specified format:
# First line: count of queries
# Subsequent lines: from_node to_node
# Assuming 'out_path' is defined in a previous cell
with open(out_path, 'w') as f: # Make sure 'out_path' is defined in a previous cell
    f.write(f"{len(queries)}\n")
    for index, row in queries.iterrows():
        f.write(f"{row['from']} {row['to']}\n")