In [1]:
import random as ra
from pathlib import Path
import pandas as pd

In [5]:
map_path = Path(r"D:\Google Drive AIC\AIC Experiment Data\Chaining\Instances\DC\map")
out_path = Path(r"D:\Google Drive AIC\AIC Experiment Data\Shodi\DC/queries.txt")
query_count = 1000

In [6]:
nodes = pd.read_csv(map_path / "nodes.csv", sep="\t")

nodes

          id        db_id          x          y
0       1496     49167035 -77.071296  38.973270
1       1497     49170731 -77.089416  38.959018
2       1498     49174193 -77.091880  38.956939
3      30455     49175765 -77.091270  38.957546
4      30456     49177919 -77.075325  38.970275
...      ...          ...        ...        ...
33735  29496  10550655322 -76.999065  38.837215
33736  29497  10550655324 -76.998715  38.836820
33737  29498  10552806189 -76.995911  38.845794
33738   1403  10552954040 -76.997408  38.847459
33739   1402  10552954042 -76.997934  38.847750

[33740 rows x 4 columns]

In [7]:
def generate_unique_queries(nodes_count, query_count):
    selected_pairs_set = set()
    # Max pairs if from != to. If nodes_count is 0 or 1, this will be 0.
    max_possible_pairs = nodes_count * (nodes_count - 1) if nodes_count > 1 else 0

    if query_count > max_possible_pairs:
        print(f"Warning: query_count ({query_count}) is greater than the maximum possible unique pairs ({max_possible_pairs}). Returning all possible pairs.")
        query_count = max_possible_pairs

    if nodes_count < 2 and query_count > 0:
        print(f"Warning: Cannot generate pairs for nodes_count < 2. Returning empty DataFrame.")
        return pd.DataFrame(columns=['from', 'to'])

    while len(selected_pairs_set) < query_count:
        from_node = ra.randint(0, nodes_count - 1)
        to_node = ra.randint(0, nodes_count - 1)
        if from_node != to_node:
            selected_pairs_set.add((from_node, to_node))

    # Convert set to list and then to DataFrame
    queries_df = pd.DataFrame(list(selected_pairs_set), columns=['from', 'to'])
    return queries_df

num_nodes = len(nodes)
queries = generate_unique_queries(num_nodes, query_count)

In [8]:
# Save to file according to the specified format:
# First line: count of queries
# Subsequent lines: from_node to_node
# Assuming 'out_path' is defined in a previous cell
with open(out_path, 'w') as f: # Make sure 'out_path' is defined in a previous cell
    f.write(f"{len(queries)}\n")
    for index, row in queries.iterrows():
        f.write(f"{row['from']} {row['to']}\n")